.routeIndicator {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  border: 1px solid;
}

.routeIndicatorRestricted {
  opacity: 0.5;
  border-color: #d1d5db;
}

.routeIndicatorWarning {
  border-color: #fbbf24;
}
